.custom-text-size {
    font-size: 1.5rem;
}

.bg-0F4C5C {
    background-color: #0F4C5C;
}

.custom-padding {
    padding-left: 5rem;
}

@media (min-width: 1025px) {
    .custom-padding {
        padding-left: 20rem;
    }
}

/* .text-white {
    color: white;
    text-decoration: none;
    text-decoration-skip-ink: auto; 
    position: relative; 
}

.text-white::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; 
    height: 3px;
    width: 100%;
    background-color: white; 
} */